/* Tipografias*/

@import url('https://fonts.googleapis.com/css?family=Staatliches');/*Letra para el slider y para el h2 de del main*/
@import url('https://fonts.googleapis.com/css?family=Lobster');/*subtitlo main "<h3>"*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');/**/
.selector-for-some-widget {
    box-sizing: content-box;
  }



/*======SLIDER======*/
.titulos-slider{
    font-family: 'Staatliches', cursive;
    margin-bottom:30%;
    font-size: 5em;
}
@media screen and (max-width: 767px){
    
    .titulos-slider{
        margin-bottom:25%;
        font-size:2em;
    }

}
@media screen and (max-width: 528px){
    #logoLaCocinaDeNacho{
        width:50%;
    }

}
/*======MAIN======*/



#titulo-main, #titulo-agradecimientos{
    margin-top: 2em;
    text-align: center;
    font-family: 'Staatliches', cursive;
}

#subtitulo-main, #subtitulo-agradecimientos {
    margin-bottom:2em;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#parrafo-main, #parrafo-agradecimientos{
    margin-top:1em;
    margin-bottom:1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
#seccion-menu{
    margin-top: 2em;
    margin-bottom: 2em;
}

#seccion-menu .row{
    text-align: center;
    
}
#titulo-historia{
    margin-top:3em;
    font-size:4em;
    color:aliceblue;
    font-family: 'Lobster', cursive;
}

#titulo-pastas{
    margin-top: 3.5em;
    color:aliceblue;
    font-family: 'Lobster', cursive;
}

#titulo-pastas-rellenas{
    margin-top: 3.5em;
    color:aliceblue;
    font-family: 'Lobster', cursive;
}

#titulo-tucos-y-salsas{
    margin-top: 3.5em;
    color:aliceblue;
    font-family: 'Lobster', cursive;
}

#historia{
    background-image:url('../images/imagenes-main/zapallos.png');
    background-size: 100%;
    height: 25em;
    background-position: center;
    cursor: pointer;
}

#pastas{
    background-image:url('../images/imagenes-main/tallarines.jpg');
    background-size: 100%;
    height: 15em;
    background-position: center;
    cursor: pointer;
}
#pastas-rellenas{
    background-image:url('../images/imagenes-main/pastasRellenas.jpg');
    background-size: 100%;
    height: 15em;
    background-position: center;
    cursor: pointer;

}
#tucos-y-salsas{
    background-image: url('../images/imagenes-main/salsas.jpg');
    background-size: 100%;
    height: 15em;
    background-position: center;
    cursor: pointer;

}
@media (max-width:1024px){
    #pastas, #pastas-rellenas, #tucos-y-salsas{
        background-size: 155%;
    }

}

.parrafoMenu{
    color: aliceblue;
}

/*Animacion Basica menu*/
@keyframes aniMenu {
    from {background-size:100%}
    to {background-size: 120%}
}
@-webkit-keyframes aniMenu{
    form{background-size: 100%}
    to{background-size: 120%}
}
#historia:hover, #pastas:hover, #pastas-rellenas:hover, #tucos-y-salsas:hover{
    -webkit-animation-name: aniMenu;
    animation-name: aniMenu; 
    -webkit-animation-duration:4s; 
    animation-duration: 4s;
    animation-fill-mode: forwards;
    background-position: center;
}

/*=====Agradecimientos=====*/
.imagenes-agradecimientos{
    background-image: url("");
}



/*=====Animacion para que el titulo se desplace hacia arriba*/
/*
    @keyframes aniTitulo{
        from {
            margin-top: 3.5em
        }
        to   {
            margin-top: 1em
        }
    }
    @-webkit-keyframes aniTitulo{
        from {
            margin-top:3.5em;
        }
        to   {
            margin-top: 1em
        }
    }
    #titulo-pastas:hover{
        -webkit-animation-name: aniTitulo;
        animation-name: aniMenu;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        
         
    }

*/

/*======FOOTER======*/

footer{
    background-color: black;
    text-align: center;
    color: grey;
 
}
.fa{
    margin-top: 1em;
    margin-bottom: 0em;
    color: grey;
}

#go-home{

    text-decoration: none;
    color: grey;
}
